$svg-common 
	background url("sprite-f4c328c6.svg") no-repeat

$list1--logo
	@extend $svg-common
	background-position 0 0
	width 64px
	height 64px

$list1menu--closed
	@extend $svg-common
	background-position 0 36.36363636363637%
	width 16px
	height 16px

$list1menu--open
	@extend $svg-common
	background-position 0 45.45454545454545%
	width 16px
	height 16px

$menu--closed
	@extend $svg-common
	background-position 0 54.54545454545455%
	width 16px
	height 16px

$menu--open
	@extend $svg-common
	background-position 0 63.63636363636363%
	width 16px
	height 16px

$page--cat
	@extend $svg-common
	background-position 0 100%
	width 64px
	height 64px

